:root{
    --light-grey: #eee;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray-dark);
    background-color: var(--light-grey);
    font-size: 14px;
}
header, footer, #content {
    background-color: white;
}
header {
    background-image: url(../images/SwissMountains.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header h1 {
    color: var(--gray-dark);
    margin: 0;
}
footer {
    padding-top: 40px;
    padding-bottom: 20px;
    
}
a {
    color: var(--blue);
}
a:hover {
    text-decoration: none;
}
nav a {
    background-color: var(--light-grey);
    margin:0px;
    text-align: center;
    text-decoration: none;
    border-right: var(--blue) 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
    nav a {
        border-right: none;
    }
}
nav a:last-child {
    border-right: none;
}
nav a:hover {
    background-color: var(--blue);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
#content {
    padding-top: 40px;
    padding-bottom: 40px;
}
h3 {
    font-size: 1.25rem;
}
label {
    min-width: 100px;
    margin-right: 10px;
    font-weight: bold;
    white-space: nowrap;
}
select {
    min-width: 80px;
}
button, input[type=button], input[type="file"] {
    min-width: 150px;
}
button, input[type=button] {
    background-color: var(--light-grey);
    border: 1px var(--blue) solid;
    color: var(--blue);
    margin-top: 10px;
    
}
button:hover, input[type=button]:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    color: white;
}
input[type="file"] {
    min-width: 300px;
}
.class-input {
    min-width: 150px;
}
.stundenplanbuttons form:nth-child(2n) button {
    margin-left: 10px;
}
.stundenplanbuttons form {
    display: inline;
}
.block {
    margin-top: 30px;
}
table {
    width: 100%;
}
table, th, td {
    border: 3px solid var(--blue);
}
th, td {
    text-align:center;
}
th {
    background-color: var(--blue);
    color: white;
}
tr {
    background-color: white;
}
tr:nth-child(2n) {
    background-color: var(--light-grey);
}
td {
    padding: 10px;
}
td p {
    margin: 0px;
}
.firstColumn {
    width: 10%;
    font-weight: bold;
}
.column {
    width: 18%;
}
dl, ol, ul {
    margin: 0px;
    padding-bottom: 1rem;
}
#fileToUpload {
    font-weight: bold;
}
.notendurchschnitt {
    width: min-content;
}