:root{
    --light-grey: #eee;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray-dark);
    background-color: var(--light-grey);
    font-size: 14px;
}
header, footer, #content {
    background-color: white;
}
header {
    background-image: url(../images/SwissMountains.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header h1 {
    color: var(--gray-dark);
}
footer {
    padding-top: 40px;
    padding-bottom: 20px;
    
}
a {
    color: var(--blue);
}
a:hover {
    text-decoration: none;
}
nav a {
    background-color: var(--light-grey);
    margin:0px;
    text-align: center;
    text-decoration: none;
    border-right: var(--blue) 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav a:last-child {
    border-right: none;
}
nav a:hover {
    background-color: var(--blue);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
#content {
    padding-top: 40px;
}
label {
    min-width: 100px;
    margin-right: 10px;
    font-weight: bold;
    white-space: nowrap;
}
button {
    margin-top: 10px;
    margin-left: 110px;
}

table, th, td {
    border: 3px solid black;
}

th, td {
    min-width:300px;
    text-align:center;
}
