<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <header>
        <h1>Schule Hinterwald</h1>
        <nav>
            <a href="index.xml">Home</a>
            <a href="feature-01/feature-01.xml">Feature 1</a>
            <a href="feature-02/feature-02.xml">Feature 2</a>
            <a href="feature-03/feature-03.xml">Feature 3</a>
            <a href="stundenplan/feature-stundenplan.xml">Stundenplan</a>
            <a href="notenupload/feature-notenupload.xml">Noten Upload</a>
            <a href="notenauswertung/feature-notenauswertung.xml">Notenauswertung</a>
            <a href="about/about.xml">About</a>
        </nav>
    </header>
</html>
